<!DOCTYPE html>
<html lang="{{ config.html.language }}">
{% include 'components/head.html' %}
<body>
    {% include 'components/header.html' %}

    <div class="site-container">
        {% include 'components/sidebar.html' %}

        <!-- Main Content -->
        <main class="main-content">
            <div class="content-wrapper">
                <article class="markdown-body">
                    {{ content|safe }}
                </article>
                
                {% include 'components/doc_navigation.html' %}
            </div>
        </main>

        {% include 'components/toc.html' %}
    </div>

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html' %}
</body>
</html>
